# Maven target directory
target/

# IntelliJ IDEA project files
.idea/
*.iml

# Logs
*.log

# OS-specific files
.DS_Store        # macOS
Thumbs.db         # Windows

# Java class files
*.class

# Temporary files
*.swp

# Dependency directories
/.m2/

# Build directories
build/

# JetBrains IDE files
/.idea/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
